   body{
    background-color:aquamarine
   }
body:hover{
    background-color:greenyellow;
}
nav a{
    text-decoration:none ;
    padding:40px;
    
}


a:hover{
color:red;
}
#top-tabs{
    margin:20px;
    padding: 8px;
    text-align: center;
    background-color:beige;
     max-width: fit-content;
}
#top_tab:hover{

    background-color:red;
    color:white;
    
}
#login{
    padding:90px;
}
input {
    padding-top:2px;
    margin:0px;
    margin-top:3px;
    width:200px;
    border-radius: 50px;
    
}
button{
    background-color: red;
    border-radius: 50px;
    margin:20px;
    color:white;
    width:150px;

}
button:hover{
 background-color:blue;
 
}
 #background{
    background-color:black;
    color:blue;
    border:2px;
    height: 50px;
    margin-top:-20px;
}